
.inputSearch{
  font-weight: bold;
  width: 100% ;
  border:solid black;
    margin-right: 2em;

}

.searchbar{
	margin-left: 4em;
	 width: 80% ;
	/* line-height: 4em;*/
}

.categoryMenu{
display: inline-block;
border:solid blue;
 margin-left: 2em;
}
.background_color{
	background: #4285F4;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
